/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-en-it.en-it-lextor.dix
/apertium-en-it.en-lextor.dix
/apertium-en-it.it-en-lextor.dix
/apertium-en-it.it-lextor.dix
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/en-it.autobil.bin
/en-it.autogen.bin
/en-it.automorf.bin
/en-it.autopgen.bin
/en-it.mode
/en-it.t1x.bin
/en-it.t2x.bin
/en-it.t3x.bin
/install-sh
/it-en.autobil.bin
/it-en.autogen.bin
/it-en.automorf.bin
/it-en.autopgen.bin
/it-en.mode
/it-en.t1x.bin
/it-en.t2x.bin
/it-en.t3x.bin
/it-en_US.autogen.bin
/it-en_US.mode
/missing
/modes
/stamp-h1
