* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-en-it.en-it.dix -text
/apertium-en-it.en-it.t1x -text
/apertium-en-it.en-it.t2x -text
/apertium-en-it.en-it.t3x -text
/apertium-en-it.en.acx -text
/apertium-en-it.en.metadix -text
/apertium-en-it.en.tsx -text
/apertium-en-it.it-en.t1x -text
/apertium-en-it.it-en.t2x -text
/apertium-en-it.it-en.t3x -text
/apertium-en-it.it.acx -text
/apertium-en-it.it.dix -text
/apertium-en-it.it.tsx -text
/apertium-en-it.post-en.dix -text
/apertium-en-it.post-it.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/cross-model-en-es-it.xml -text
dev/cross.xml -text
dev/errors-en-it.superficial -text
dev/errors-it-en.superficial -text
dev/missing-verbs-bidix -text
dev/patterns-not-detected.xml -text
/en-it-unsupervised.make -text
/en-it.prob -text svneol=unset#unset
/it-en.prob -text svneol=unset#unset
/modes.xml -text
/principal.xsl -text
/testvoc-en-it -text
/translate-to-default-equivalent.xsl -text
